@import 'tailwindcss';
@import "tailwindcss-primeui";
@custom-variant dark (&:where(.my-app-dark, .my-app-dark *));

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer components {
    .p-skeleton {
        @apply bg-slate-200;
    }
    .p-confirmdialog-accept-button, .p-confirmdialog-reject-button {
        @apply px-3 py-1.5 text-sm h-fit;
    }
}

@config "../../tailwind.config.js";
